body
{
    background-color : gainsboro;
}
#content
{
    position: relative;
    background-color: silver;
    width: 500px;
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 15px;
}
#description
{
    height: 70px;
    resize: none;
}
.InputFormulaire
{
    width: 200px;
}
.labelSize
{
    display: block;
    width: 150px;
    float: left;
}

.labelSelectSize
{
    display: block;
    width: 100px;
    float: left;
}

select
{
    width: 150px;
    margin-bottom: 5px;
}

fieldset
{
    width: 200px;
    margin: auto;
}